<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Listes des Filières</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table class="table table-bordered">
          <tbody><tr>
            <th>ID</th>
            <th>Code</th>
            <th>Intitulé</th>
            <th>Description</th>
            <th>Date Création</th>
            <th>Action</th>
          </tr>
          <tr *ngFor="let filiere of filieres">
            <td>{{filiere.idF}}</td>
            <td>{{filiere.codeF}}</td>
            <td>{{filiere.intituleF}}</td>
            <td>{{filiere.descriptionF}}</td>
            <td>{{filiere.dateCreation}}</td>
            <td>
              <a class="btn btn-primary">
                <i class="fa fa-edit"></i>
              </a>
              <a (click)="deleteFiliere(filiere)" class="btn btn-danger">
                <i class="fa fa-trash-o"></i>
              </a>
            </td>
          </tr>
          <!-- -->
          </tbody>
        </table>
      </div>
      <!-- /.box-body -->
      <div class="box-footer clearfix">

      </div>
    </div>
  </div>
</div>
<p>filierelst works!</p>
