<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Listes des inscriptions</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table class="table table-bordered">
          <tbody><tr>
            <th>ID</th>
            <th>Matricule</th>
            <th>Nom - Prénoms</th>
            <th>Nationalité</th>
            <th>Date lieu</th>
            <th>Date</th>
            <th>Action</th>
          </tr>
          <tr *ngFor="let etudiant of etudiants">
            <td>{{etudiant.idE}}</td>
            <td>{{etudiant.matriculeE}}</td>
            <td>{{etudiant.nomE}} - {{etudiant.prenomE}}</td>
            <td>{{etudiant.nationaliteE}}</td>
            <td>{{etudiant.dateNE}} - {{etudiant.lieuNE}}</td>
            <td>
              <a class="btn btn-primary">
                <i class="fa fa-edit"></i>
              </a>
              <a (click)="deleteEtudiant(etudiant)" class="btn btn-danger">
                <i class="fa fa-trash-o"></i>
              </a>
            </td>
          </tr>
          <!-- -->
          </tbody>
        </table>
      </div>
      <!-- /.box-body -->
      <div class="box-footer clearfix">

      </div>
    </div>
  </div>
</div>
