<div class="row">
  <div class="col-md-12">
    <!-- general form elements -->
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Enregistrement d'un niveau</h3>
      </div>
      <!-- /.box-header -->
      <!-- form start -->
      <form role="form" (submit)="createNiveau($event)">
        <div class="box-body">
          <div class="form-group">
            <label for="codeN">Code niveau</label>
            <input type="text" required class="form-control" id="codeN"placeholder="Code du niveau">
          </div>
          <div class="form-group">
            <label for="intituleN">Intitulé</label>
            <input type="text" required class="form-control" id="intituleN" placeholder="Intitulé du niveau">
          </div>
          <div class="form-group">
            <label for="montantScolariteN">Montant Scolarité</label>
            <input type="text" required class="form-control" id="montantScolariteN" placeholder="Montant de la scolarité">
          </div>
          <div class="form-group">
            <label for="dateCreation">Date</label>
            <input type="date" required class="form-control" id="dateCreation">
          </div>
        </div>
        <!-- /.box-body -->

        <div class="box-footer">
          <button type="submit" class="btn btn-primary">Valider</button>
          <p></p>
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Listes des niveaux</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table class="table table-bordered">
          <tbody><tr>
            <th>ID</th>
            <th>Code</th>
            <th>Intitulé</th>
            <th>Montant Scolarité</th>
            <th>Date</th>
            <th>Action</th>
          </tr>
          <tr *ngFor="let niveau of niveaux">
            <td>{{niveau.idN}}</td>
            <td>{{niveau.codeN}}</td>
            <td>{{niveau.intituleN}}</td>
            <td>{{niveau.montantScolariteN}}</td>
            <td>{{niveau.dateCreation}}</td>
            <td>
              <a class="btn btn-primary">
                <i class="fa fa-edit"></i>
              </a>
              <a (click)="deleteNiveau(niveau)" class="btn btn-danger">
                <i class="fa fa-trash-o"></i>
              </a>
            </td>
          </tr>
          <!-- -->
          </tbody>
        </table>
      </div>
      <!-- /.box-body -->
      <div class="box-footer clearfix">

      </div>
    </div>
  </div>
</div>
