
<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu" data-widget="tree">
  <li class="header">Menu</li>
  <li class="treeview">
    <a href="#">
      <i class="fa fa-user-o"></i> <span>Etudiant</span>
      <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
    </a>
    <ul class="treeview-menu">
      <li class="active"><a routerLink="/mesdevoirs"><i class="fa fa-circle-o"></i>Mes Devoirs</a></li>
      <li><a routerLink="/mesnotes"><i class="fa fa-circle-o"></i>Mes notes</a></li>
      <li><a routerLink="/deliberation"><i class="fa fa-circle-o"></i>Déliberation</a></li>
    </ul>
  </li>
  <li class="treeview">
    <a href="#">
      <i class="fa fa-home"></i> <span>Administration</span>
      <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
    </a>
    <ul class="treeview-menu">
      <li><a routerLink="/etudiant"><i class="fa fa-circle-o"></i>Ajout Etudiant</a></li>
      <li><a routerLink="/inscription"><i class="fa fa-circle-o"></i>Inscription</a></li>
      <li><a routerLink="/noterEtudiant"><i class="fa fa-circle-o"></i>Noter les étudiants</a></li>
      <li><a routerLink="/devoir"><i class="fa fa-circle-o"></i>Programmation des devoirs</a></li>
      <li><a routerLink="/lEtudiant"><i class="fa fa-circle-o"></i>Listes des étudiants</a></li>
      <li><a routerLink="lFiliere"><i class="fa fa-circle-o"></i>Liste des filières</a></li>
      <li><a routerLink="lNiveau"><i class="fa fa-circle-o"></i>Liste des niveaux</a></li>
      <li><a routerLink="lSalle"><i class="fa fa-circle-o"></i>Liste des salles</a></li>
    </ul>
  </li>
  <li class="treeview">
    <a href="#">
      <i class="fa fa-gears"></i> <span>Configuration</span>
      <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
    </a>
    <ul class="treeview-menu">
      <li><a routerLink="/anneescolaire"><i class="fa fa-circle-o"></i>Année Scolaire</a></li>
      <li><a routerLink="/filiere"><i class="fa fa-circle-o"></i>Filière</a></li>
      <li><a routerLink="/module"><i class="fa fa-circle-o"></i>Module</a></li>
      <li><a routerLink="/niveau"><i class="fa fa-circle-o"></i>Niveau</a></li>
      <li><a routerLink="/semestre"><i class="fa fa-circle-o"></i>Semestre</a></li>
      <li><a routerLink="/session"><i class="fa fa-circle-o"></i>Session</a></li>
      <li><a routerLink="/ue"><i class="fa fa-circle-o"></i>UE</a></li>
    </ul>
  </li>
</ul>

