<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Listes des devoirs</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table class="table table-bordered">
          <tbody><tr>
            <th>ID</th>
            <th>Code</th>
            <th>Module</th>
            <th>Date du devoir</th>
            <th>Heure début</th>
            <th>Nb Heure</th>
            <th>Coefficient</th>
            <th>Période</th>
          </tr>
          <tr *ngFor="let devoir of devoirs">
            <td>{{devoir.idD}}</td>
            <td>{{devoir.codeD}}</td>
            <td>{{devoir.idMo.codeMo}} {{devoir.idMo.idF.intituleF}} {{devoir.idMo.idN.intituleN}}</td>
            <td>{{devoir.dateD}}</td>
            <td>{{devoir.heureDebutD}}</td>
            <td>{{devoir.nbHeureD}}</td>
            <td>{{devoir.coefD}}</td>
            <td>{{devoir.periodeD}}</td>
          </tr>
          <!-- -->
          </tbody>
        </table>
      </div>
      <!-- /.box-body -->
      <div class="box-footer clearfix">

      </div>
    </div>
  </div>
</div>
